.App {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #a5ffd6, #ffa69e, #ff686b);
  width: 100vw;
  height: 100vh;
  background-size: 600% 600%;
  -webkit-animation: Waves 30s ease infinite;
  -moz-animation: Waves 30s ease infinite;
  animation: Waves 30s ease infinite;
  z-index: -9999;
}

.Heading {
  position: absolute;
  top: 35%;
  //transform: translate(-50%, -50%);
  width: 100vw;
  text-align: center;
  margin: 0;
  font-size: 5rem;
  background: -webkit-linear-gradient(left, #00a896, #02c39a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  animation: fadeIn ease-in 2s;
}

.SubHeading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #d4fcf4;
  animation: fadeInDelayed ease-in 2.5s;
}

.View-container {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  clip-path: polygon(25% 5%, 75% 5%, 75% 50%, 95% 50%, 50% 95%, 5% 50%, 25% 50%);
  overflow: hidden;
  animation: fadeInDelayed ease-in 3.5s;
  &:hover .View-button {
    clip-path: circle(100%);
    background-color: #02c39a;
  }
}

.View-button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #00a896;
  clip-path: circle(10% at 50% 80%);
  border-radius: 10px;
  transition: all ease-in 400ms;
}

.Gallery {
  margin-top: 100vh;
  padding-top: 50px;
  background-color: #283835;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  min-height: 100vh;
  &-item {
    padding: 25px;
    &-text {
      padding-left: 10px;
      color: #e8fdf8;
    }
    &-info {
      font-style: italic;
    }
  }
}

.photo {
  width: 500px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDelayed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInDelayed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDelayed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bottom {
  background-color: rgba(243, 243, 243, 0.89);
  margin-top: 100vh;
  height: 100vh;
  clip-path: polygon(76% 5%, 100% 9%, 100% 100%, 0 100%, 0 0);
}

@-webkit-keyframes Waves {
  0%{background-position:0 50%}
  50%{background-position:100% 51%}
  100%{background-position:0 50%}
}
@-moz-keyframes Waves {
  0%{background-position:0 50%}
  50%{background-position:100% 51%}
  100%{background-position:0 50%}
}
@keyframes Waves {
  0%{background-position:0 50%}
  50%{background-position:100% 51%}
  100%{background-position:0 50%}
}

@font-face {
  font-family: 'Cabin', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap");
}

@media only screen and (max-width: 500px) {
  .View-button {
    clip-path: circle(100%);
  }

  .SubHeading {
    top: 55%;
  }

  .photo {
    width: 75vw;
  }
}